<% provide(:title, 'Money list') %>
<h1>Money List</h1>

<% unless current_user.money.empty? %>
  <%= form_tag({}, {:id => 'search'}) do %>
    <%= text_field_tag('query', params[:query], :placeholder => 'Search here ...') %>
  <% end %>

  <%= observe_field 'query', 
        :url => {:controller => "money", :action => "search"},
        :update => "search_results",
        :frequency => 1,
        :with => "query" 
  %>
  <div id="search_results"></div>

  <%= render :partial => "table", :locals => {:money_list => current_user.money } %>
<% else %>
  <div class="none-list">
    <h3>You don't have any money yet.</h3>
  </div>
<% end %>

<div id="new-link"><%= link_to 'Add New', new_money_path %></div>


